{% extends 'base.html.twig' %}

{% block title %}Profil Utilisateur{% endblock %}

{% block body %}
    <h1>Mon profil</h1>
    <p><strong>Login :</strong> {{ app.user.login }}</p>
    <p><strong>Pseudo :</strong> {{ app.user.pseudo }}</p>
    <div class="mb-2">
        <a href="{{ path('profile_edit_infos') }}" class="btn btn-primary"><i class="fas fa-user-edit"></i> Modifier mon profil</a>
    </div>
    <div class="mb-2">
        <a href="{{ path('profile_edit_pass') }}" class="btn btn-primary"><i class="fas fa-user-edit"></i> Modifier mon mot de passe</a>    
    </div>
    <div>
        {{ include('profile/_delete_form.html.twig') }}
    </div>
    <br>
    <hr>
    <br>
    <h2>Mes Évênements</h2>
    <a class="btn btn-success w-100" href="{{ path('event_new') }}">Créer un évênements</a>
    {% for event in app.user.events %}
        <div class="card my-5">
            <div class="card-body">
                <h3 class="card-title">{{ event.title }}</h3>
                <h6 class="card-subtitle mb-2 text-muted">Aura lieu le {{ event.startedAt | date('d/m/Y') }} à {{ event.startedAt | date('H') }}h{{ event.startedAt | date('i') }}</h6>
                <p>publié par {{ event.user.pseudo }}</p>
                <div>
                    <a class="btn btn-primary mb-1" href="{{ path('event_show', {'id': event.id}) }}"><i class="far fa-eye"></i> Détail</a>
                </div>
                <div>
                    <a class="btn btn-warning mb-1" href="{{ path('event_edit', {'id': event.id}) }}"><i class="far fa-edit"></i> Modifier</a>
                </div>
                <div class="mb-3">     
                    {{ include('event/_delete_form.html.twig') }}
                </div>         
                <p>{{ event.comments | length }} commentaire(s)</p>       
            </div>
        </div>
    {% else %}
        <p>Vous n'avez créé aucun évênement</p>
    {% endfor %}
{% endblock %}
