{% extends 'base.html.twig' %}

{% block title %}Les évênements{% endblock %}

{% block body %}
    <h1>Les évênements</h1>
  
    {% for event in events %}
        <div class="card my-5">
            <div class="card-body">
                <h3 class="card-title">{{ event.title }}</h3>
                <em class="card-subtitle mb-2 text-muted">Aura lieu le {{ event.startedAt | date('d/m/Y') }} à {{ event.startedAt | date('H') }}h{{ event.startedAt | date('i') }}</em>
                <p>Publié par {{ event.user.pseudo }}</p>
                <div>
                    <a class="btn btn-primary mb-4" href="{{ path('event_show', {'id': event.id}) }}"><i class="far fa-eye"></i> Détail</a>
                </div>         
                <p>{{ event.comments | length }} commentaire(s)</p>       
            </div>
        </div>   
    {% else %}
        <p>Pas d'évênements</p>
    {% endfor %}
    
{% endblock %}
